<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Title -->
  <title>
    {{ site.title }} &#124; {{ site.tagline }}
  </title>

  <!-- Description -->
  <meta name="description" content="{{ site.description }}"/>

  <!-- Favicon -->
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Javascript  -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135280523-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135280523-2');
  </script>
</head>
