<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Title -->
  <title>
    {{ site.title }} &#124; {{ site.tagline }}
  </title>

  <!-- Description -->
  <meta name="description" content="{{ site.description }}"/>

  <!-- Favicon -->
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik:500" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">

  <!-- Javascript  -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}assets/main.js"></script>
</head>
