@import "variables";

// Wrapper
/////////////////////////////////////////////////////
.wrapper {
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap: $gutter-half;
  @include break-at("small") {
    grid-column-gap: $gutter-half;
  }
}

// Overlay
/////////////////////////////////////////////////////
.overlay {
  background-color: $primary;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  @include transition(all, 0.15s);
}

// Grid
/////////////////////////////////////////////////////
.col-4 {
  grid-column: span 4;
  @include break-at("medium") {
    grid-column: span 6;
  }
  @include break-at("small") {
    grid-column: span 12;
  }
  &-right {
    grid-column: 9 / span 4;
    @include break-at("medium") {
      grid-column: span 6;
    }
    @include break-at("small") {
      grid-column: span 12;
    }
  }
}

.col-8 {
  grid-column: span 8;
  @include break-at("medium") {
    grid-column: span 6;
  }
  @include break-at("small") {
    grid-column: span 4;
  }
}

.col-12 {
  grid-column: span 12;
}

// Header
/////////////////////////////////////////////////////
header {
  margin: $gutter 0 $gutter-2 0;
}

.header__logo,
.header__color {
  @include break-at("small") {
    grid-column: span 6;
  }
}

.header__color__picker {
  float: right;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-left: 10px;
  border: 1px solid $primary;
  @include pointer;
}

#yellow {
  background-color: $highlight;
}

#white {
  background-color: $secondary;
}

#black {
  background-color: $primary;
}

// Font Pages
/////////////////////////////////////////////////////
.masthead {
  margin-bottom: $gutter-4;
  @include break-at("medium") {
    margin-bottom: $gutter-3;
  }
  @include break-at("small") {
    margin-bottom: $gutter-2;
  }
}

.third {
  overflow-x: hidden;
  @include break-at("medium") {
    grid-column: span 4;
  }
  .font__entry {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

.font__blurb__home {
  @include break-at("small") {
    grid-column: span 10;
  }
}

.font__blurb__third {
  margin-bottom: $gutter-half;
  @include break-at("small") {
    height: $gutter;
  }
}

.font__entry {
  padding-top: 10px;
  border-top: 1px solid $primary;
  margin-bottom: $gutter-4;
  word-break: break-word;
  overflow-wrap: break-word;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
  @include break-at("medium") {
    margin-bottom: $gutter-3;
  }
  @include break-at("small") {
    margin-bottom: $gutter-2;
  }
}

.home__font__entry {
  white-space: nowrap;
  overflow-x: hidden;
  padding-bottom: $gutter;
}

.font__info {
  position: relative;
  p {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @include break-at("medium") {
    grid-column: 9 / span 4;
  }
  @include break-at("small") {
    grid-column: 11 / span 2;
  }
}

// Buying
/////////////////////////////////////////////////////
.font__buy {
  margin-bottom: $gutter;
}

.font__buy__info {
  border-top: 2px solid $primary;
  padding-top: $gutter-half;
  @include break-at("small") {
    grid-column: span 6;
  }
}

.font__buy__button {
  @include break-at("small") {
    grid-column: span 6;
  }
  .gumroad-button {
    width: 100%;
    color: $primary !important;
    background-color: $secondary !important;
    border: 2px solid $primary;
    background-image: none !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    padding: $gutter-half !important;
    line-height: 1.1 !important;
    box-shadow: none !important;
    vertical-align: middle;
    .gumroad-button-logo {
      display: none !important;
    }
  }
}

.gumroad-button .logo-full {
  display: none !important;
}

// Footer
/////////////////////////////////////////////////////
footer {
  padding: $gutter-half 0 $gutter-4 0;
  border-top: 4px solid $primary;
  margin: $gutter-4 0 0 0;
}

.instagram {
  text-align: right;
  @include break-at("small") {
    grid-column: span 6;
  }
}

.logo {
  @include break-at("small") {
    grid-column: span 6;
  }
}
