<!DOCTYPE html>
<html lang="en">

  <style>
    {% include loadFonts.html %}
  </style>

  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="wrapper masthead">
      <img class="svg col-12" src="{{ page.image }}"></img>
    </section>

    <section class="wrapper">
      {% for sample in page.samples %}
        {% if sample.third == true %}
          <div class="col-4 third">
            <p class="font__blurb__third">
              {{ sample.blurb }}
            </p>
            <div class="font__entry {{ page.fontname }}" style="font-weight: {{ sample.weight }};" contenteditable>
              {{ sample.entry }}
            </div>
          </div>
        {% else %}
          <div class="font__blurb col-4">
            <p>
              {{ sample.blurb }}
            </p>
          </div>
          <div class="font__entry {{ page.fontname }} col-12" style="font-weight: {{ sample.weight }};" contenteditable>
            {{ sample.entry }}
          </div>
        {% endif %}
      {% endfor %}
    </section>

    {% for option in page.buy %}
      <section class="wrapper font__buy">
          <div class="font__buy__info col-4">
            <h1>
              {{ page.title }} {{ option.type }}
            </h1>
            <p>
              {{ option.format}}
            </p>
          </div>
          <div class="col-8 font__buy__button">
            {{ option.link }}
          </div>
      </section>
    {% endfor %}

    {% include footer.html %}

  </body>
</html>
