<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="wrapper masthead">
      <img class="col-12" src="{{ page.image }}"></img>
    </section>

    <section class="wrapper">
      {% for sample in page.samples %}
        <div class="font__blurb col-4">
          <p>
            {{ sample.blurb }}
          </p>
        </div>
        {% if sample.weight %}
          <div class="font__entry {{ page.fontname }} col-12" style="font-weight:{{ sample.weight }}" contenteditable>
        {% else %}
          <div class="font__entry {{ page.fontname }} col-12" contenteditable>
        {% endif %}
          {{ sample.entry }}
        </div>
      {% endfor %}
    </section>

    {% for option in page.buy %}
      <section class="wrapper font__buy">
          <div class="font__buy__info col-4">
            Buy <span class="bold">{{ option[0] }}</span>
          </div>
          <div class="col-8 font__buy__button">
            {{ option[1] }}
          </div>
      </section>
    {% endfor %}

    {% include footer.html %}

  </body>
</html>
