<!DOCTYPE html>
<html lang="en">

  <style>
    {% for font in page.fonts %}
      @font-face {
        font-family: '{{ page.fontname }}';
        src: url('{{ font.file }}') format('woff');
        font-weight: {{ font.weight }};
        font-style: normal;
      }
    {% endfor %}

    .{{ page.fontname }} {
      font-family: '{{ page.fontname }}', sans-serif;
      line-height: 1.1;
    }
  </style>

  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="wrapper masthead">
      <img class="svg col-12" src="{{ page.image }}"></img>
    </section>

    <section class="wrapper">
      {% for sample in page.samples %}
        <div class="font__blurb col-4">
          <p>
            {{ sample.blurb }}
          </p>
        </div>
        <div class="font__entry {{ page.fontname }} col-12" style="font-weight: {{ sample.weight }};" contenteditable>
          {{ sample.entry }}
        </div>
      {% endfor %}
    </section>

    {% for option in page.buy %}
      <section class="wrapper font__buy">
          <div class="font__buy__info col-4">
            <h2>
              {{ page.title }} {{ option.type }}
            </h2>
            <p>
              Download {{ page.title }} in {{ option.format}} format.
            </p>
          </div>
          <div class="col-8 font__buy__button">
            {{ option.link }}
          </div>
      </section>
    {% endfor %}

    {% include footer.html %}

  </body>
</html>
