<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="wrapper">
      {% for font in site.fonts %}
        <div class="font__blurb col-4">
          <h2>
            <a class="bold" href="{{font.url}}">
              {{ font.title }}
            </h2>
          </p>
          <p>
            {{ font.content }}
          </p>
        </div>
        <div class="font__info col-4-right">
          <p>
            <a href="{{font.url}}">
              Info >
            </a>
          </p>
        </div>
        <div class="font__entry {{ font.fontname }} col-12" contenteditable>
          {{ font.sample }}
        </div>
      {% endfor %}
    </section>

    {% include footer.html %}

  </body>
</html>
